:root {
  --font-darkGray: #393c41;
  --font-lightGray: #cecece;
}

body {
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://www.tesla.com/tesla_theme/assets/img/supercharger/supercharger_hero.jpg");
  font-size: 14px;
}

a {
  letter-spacing: 0.7px;
  font-weight: 500;
  color: white;
}

ul > li > a {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
header {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  display: none;
}

.header-nav-ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.header-nav-ul > li {
  margin-right: 1em;
  text-transform: uppercase;
}

.header-nav-ul > li > a {
  text-decoration: none;
}

.header-nav-ul .right-nav-ul {
  margin-left: 50px;
}

/* Hamburger menu */
.hamburger-menu-container {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  position: fixed;
}

.hamburger-menu-container > .header-nav-ul {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  clear: both;
  padding: 30px;
  position: fixed;
  right: -150%;
  transition: right .2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hamburger-menu-container > .header-nav-ul > li { 
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--font-lightGray);
}
.hamburger-menu-container > .header-nav-ul > li > a {
  color: var(--font-black);
  display: block;
}


/* hamburger icon */
.hamburger-menu-container .menu-icon {
  display: inline-block;
  padding: 20px;
  user-select: none;
  cursor: pointer;
  position: relative;
  top: -30px;
}

.hamburger-menu-container .menu-icon .navicon {
  background-color: var(--font-darkGray);
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
}

.hamburger-menu-container .menu-icon .navicon:before,
.hamburger-menu-container .menu-icon .navicon:after {
  background-color: var(--font-darkGray);
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  transition: all .2s ease-out;
}

.hamburger-menu-container .menu-icon .navicon:before {
  top: 5px;
}

.hamburger-menu-container .menu-icon .navicon:after {
  top: -5px;
}

 /* hamburger menu btn */
.hamburger-menu-container .menu-btn {
  display: none;
}

.hamburger-menu-container .menu-btn:checked ~ .header-nav-ul{
  min-width: 300px;
  max-width: 300px;
  background-color: white;
  right: 0;
}

.hamburger-menu-container .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.hamburger-menu-container .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  top: 0px;
}

.hamburger-menu-container .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  top: 0px;
}

.hamburger-menu-container .menu-btn:checked ~ .menu-icon:not(.steps) .navcon:before, 
.hamburger-menu-container .menu-btn:checked ~ .menu-icon:not(.steps) .navcona:after {
  top: 0;
} 

/* Footer design */
footer {
  height: 8vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

footer nav > .header-nav-ul > li {
  text-transform: none;
}


footer nav > .header-nav-ul > li > a {
  color: var(--font-black);
  letter-spacing: 0;
  font-weight: 400;
  font-size: 13px;
}